@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #303030;
    color: white
}
a {
    color: white;
    cursor: pointer;
}
table {
    width: 100%;
    text-align: justify;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
td {
    table-layout: fixed;
    overflow: hidden;
    word-wrap: break-word;
}


td.form-label {
    text-align: right;
}
td.form-input {
    text-align: left;
}


.banner {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.window {
    text-align: center;
    vertical-align: text-top;
}
.browse-window {
    vertical-align: text-top;
    text-align: left;
    width: 100px;
    padding: 10px;
    background-color: #505050;
}
.movies-window {
    vertical-align: text-top;
    text-align: center;
    padding: 10px;
}
.watchlist-window {
    vertical-align: text-top;
    text-align: center;
    width: 100px;
    padding: 10px;
    background-color: #505050;
}
.browse-submenu {
    display: none;
}
.browse-link {

}


.button {
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    height: 36px;
    font-size: 100%;
    cursor: pointer;
}
.textbox {
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    font-size: 100%;
}
.visible {display: block;}
.hidden {display: none;}


