<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, user-scalable=no">
    <link rel="icon" href="/static/images/getflix_favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js" defer></script>
    <title id="title">Getflix</title>
</head>
<body>
    <span id="AuthStatus" style="display:none;">{{ session["authStatus"] }}</span>
    <!-- Valid `AuthStatus` values: "logged in", "logged out", "logging in", "registering" -->
    <table>
        <tr style="display:flex; justify-content:space-between; align-items:center">
            <td id="BannerLogo" class="banner">
                <a href="/"><img src="/static/images/getflix_logo.png" alt="Getflix Logo" height="60px"></a>
            </td>
            <td id="Searchbar" class="banner">
                <form action="/search">
                <input id="SearchBox" class="textbox" type="text" name="SearchQuery" placeholder="Search Movies..." size=15>
                <select id="SearchCategory" class="button" name="SearchCategory">
                    <option value="title">Title</option>
                    <option value="genre">Genre</option>
                    <option value="director">Director</option>
                    <option value="actor">Actor</option>
                </select>
                <input id="SearchSubmit" class="button" type="submit" value="Search" onclick="showMainWindow();">
                </form>
            </td>
            <td id="LoginPanel" class="banner" style="display:flex">
                <input id="LoginButton" class="button" type="submit" value="Login" onclick="showLoginWindow();">
                <form action="/logout">
                <input id="LogoutButton" class="button" style="display:none" type="submit" value="Logout ({{ session['currUsername'] }})">
                </form>
                <input id="RegisterButton" class="button" type="submit" value="Register" onclick="showRegisterWindow();">
            </td>
        </tr>
    </table>
    <hr style="height:3px; background-color:black; border-color:black; border-radius:3px">
    <div id="MainWindow" class="window">
        <table>
            <tr>
                <td id="BrowseWindow" class="browse-window" style="width:20%;">
                    <h3 style="text-align:center">Browse Movies...</h3>
                    <hr style="height:3px; background-color:black; border-color:black; border-radius:3px">
                    <a onclick="toggleBrowseTitles();"><h4 id="titlesHeading">&#8594 Titles</h4></a>
                    <ul id="BrowseTitles" class="browse-submenu">
                        {% for char in titleChars %}
                        <li>{{ ('<a href="/browse?BrowseCategory=TitleChar&BrowseQuery=' + char + '">' + char + '</a>')|safe }}</li>
                        {% endfor %}
                    </ul>
                    <a onclick="toggleBrowseGenres();"><h4 id="genresHeading">&#8594 Genres</h4></a>
                    <ul id="BrowseGenres" class="browse-submenu">
                        {% for genre in allGenres %}
                        <li>{{ ('<a href="/browse?BrowseCategory=Genre&BrowseQuery=' + genre.name + '">' + genre.name + '</a>')|safe }}</li>
                        {% endfor %}
                    </ul>
                    <a onclick="toggleBrowseDirectors();"><h4 id="directorsHeading">&#8594 Directors</h4></a>
                    <ul id="BrowseDirectors" class="browse-submenu">
                        {% for director in allDirectors %}
                        <li>{{ ('<a href="/browse?BrowseCategory=Director&BrowseQuery=' + director.director_full_name + '">' + director.director_full_name + '</a>')|safe }}</li>
                        {% endfor %}
                    </ul>
                    <a onclick="toggleBrowseActors();"><h4 id="actorsHeading">&#8594 Actors</h4></a>
                    <ul id="BrowseActors" class="browse-submenu">
                        {% for actor in allActors %}
                        <li>{{ ('<a href="/browse?BrowseCategory=Actor&BrowseQuery=' + actor.actor_full_name + '">' + actor.actor_full_name + '</a>')|safe }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td id="MovieListWindow" class="movies-window">
                    {% for movie in filteredMovies %}
                    <div style="text-align:center"><h3>{{ movie.title }} <em>({{ movie.year }})</em></h3></div>
                    <p><b>Genres: </b>{{ movie.get_genres_string() }}</p>
                    <p><b>Director: </b>{{ movie.director.director_full_name }}</p>
                    <p><b>Actors: </b>{{ movie.get_actors_string() }}</p>
                    <p><b>Synopsis: </b><em>"{{ movie.description }}"</em></p>
                    <p><b>Rating: </b>{{ movie.rating }}/10</p>
                    <!-- TEST THESE FEATURES -->
                    <div id="MovieButtons" class="banner" style="display:block; text-align:center">
                        <form action="/add_movie">
                        <input type="hidden" name="MovieTitle" value="{{ movie.title }}">
                        <input id="AddMovie" class="button" type="submit" value="Add to Watchlist">
                        </form><br>
                        <input id="ShowReviews" class="button" type="submit" onclick="toggleElement('{{ movie.title }} Reviews');" value="Show Reviews">
                        <input id="AddReview" class="button" type="submit" onclick="toggleElement('{{ movie.title }} ReviewForm');" value="Add Review">
                    </div><br>
                    <form action="/add_review">
                        <input type="hidden" name="MovieTitle" value="{{ movie.title }}">
                        <table id="{{ movie.title }} ReviewForm" style="display:none">
                            <tr>
                                <td class="form-label">
                                <label for="ReviewRating">Rating (1-10): </label>
                                </td>
                                <td class="form-input">
                                <input id="ReviewRating" class="textbox" type="number" name="ReviewRating" min=1 max=10 size=6>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                <label for="ReviewComments">Comments: </label>
                                </td>
                                <td class="form-input">
                                <textarea id="ReviewComments" class="textarea" name="ReviewComments" rows="4" cols=36></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td></td><!-- Empty table column for formatting -->
                                <td>
                                <input id="LoginSubmit" class="button" type="submit" value="Submit">
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div id="{{ movie.title }} Reviews" style="display:none;">
                        <div style="text-align:center"><h4><u>Reviews:</u></h4></div>
                        {% for review in movie.reviews %}
                        <p><b>Time/Date: </b>{{ review.timestamp }}</p>
                        <p><b>Author: </b>{{ review.user.username }}</p>
                        <p><b>Rating: </b>{{ review.rating }}</p>
                        <p><b>Comments: </b><em>"{{ review.review_text }}"</em></p>
                        <hr style="height:2px; background-color:black; border-color:black; border-radius:2px">
                        {% endfor %}
                    </div>
                    <hr style="height:2px; background-color:white; border-color:white; border-radius:2px">
                    {% endfor %}
                </td>
                <td id="WatchlistWindow" class="watchlist-window" style="width:20%;">
                    <h3>Watchlist:</h3>
                    <hr style="height:3px; background-color:black; border-color:black; border-radius:3px">
                    {% if currentWatchlist != None %}
                        {% for movie in currentWatchlist %}
                        <h3>{{ movie.title }} <em>({{ movie.year }})</em></h3>
                        <p><b>Genres: </b>{{ movie.get_genres_string() }}</p>
                        <p><b>Director: </b>{{ movie.director.director_full_name }}</p>
                        <p><b>Actors: </b>{{ movie.get_actors_string() }}</p>
                        <p><b>Synopsis: </b><em>"{{ movie.description }}"</em></p>
                        <p><b>Rating: </b>{{ movie.rating }}/10</p>
                        <hr style="height:2px; background-color:white; border-color:white; border-radius:2px">
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div id="LoginWindow" class="window" style="display:none">
        <h3>Enter Login Details:</h3>
        <form action="/login">
        <table>
            <tr>
                <td class="form-label">
                <label for="LoginUsername">Username: </label>
                </td>
                <td class="form-input">
                <input id="LoginUsername" class="textbox" type="text" name="LoginUsername" size=30>
                </td>
            </tr>
            <tr>
                <td class="form-label">
                <label for="LoginPassword">Password: </label>
                </td>
                <td class="form-input">
                <input id="LoginPassword" class="textbox" type="password" name="LoginPassword" size=30>
                </td>
            </tr>
            <tr>
                <td></td><!-- Empty table column for formatting -->
                <td>
                <input id="LoginSubmit" class="button" type="submit" value="Login">
                </td>
            </tr>
        </table>
        <p id="AuthMessage">{{ session["authMessage"] }}</p>
        </form>
    </div>
    <div id="RegisterWindow" class="window" style="display:none">
        <h3>Enter Registration Details:</h3>
        <form action="/register">
        <table>
        <tr>
            <td class="form-label">
            <label for="RegUsername">Username: </label>
            </td>
            <td class="form-input">
            <input id="RegUsername" class="textbox" type="text" name="RegUsername" size=30>
            </td>
        </tr>
        <tr>
            <td class="form-label">
            <label for="RegPassword1">Password: </label>
            </td>
            <td class="form-input">
            <input id="RegPassword1" class="textbox" type="password" name="RegPassword1" size=30>
            </td>
        </tr>
        <tr>
            <td class="form-label">
            <label for="RegPassword2">Re-enter Password: </label>
            </td>
            <td class="form-input">
            <input id="RegPassword2" class="textbox" type="password" name="RegPassword2" size=30>
            </td>
        </tr>
        <tr>
            <td></td><!-- Empty table column for formatting -->
            <td>
            <input id="RegSubmit" class="button" type="submit" value="Register">
            </td>
        </tr>
        </table>
        <p id="AuthMessage">{{ session["authMessage"] }}</p>
        </form>
    </div>
</body>
</html>